<div class="tab-pane active" role="tabpanel" id="tab-email-message">
    <form class="form-horizontal" ng-submit="$ctrl.onSubmit()">
        <div class="form-group single-button">
            <label for="to" class="col-xs-2 control-label">To</label>
            <div class="col-xs-7 input-container">
                <input type="text" class="form-control" id="to" placeholder="" ng-model="$ctrl.template.emailSettings.to">
            </div>
            <div class="col-xs-3 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <label for="cc" class="col-xs-2 control-label">CC</label>
            <div class="col-xs-7 input-container">
                <input type="text" class="form-control" id="cc" placeholder="" ng-model="$ctrl.template.emailSettings.cc">
            </div>
            <div class="col-xs-3 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <label for="bcc" class="col-xs-2 control-label">BCC</label>
            <div class="col-xs-7 input-container">
                <input type="text" class="form-control" id="bcc" placeholder="" ng-model="$ctrl.template.emailSettings.bcc">
            </div>
            <div class="col-xs-3 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <label for="subject" class="col-xs-2 control-label">Subject</label>
            <div class="col-xs-7 input-container">
                <input type="text" class="form-control" id="subject" placeholder="" ng-model="$ctrl.template.emailSettings.subject">
            </div>
            <div class="col-xs-3 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <div class="col-xs-2"></div>
            <div class="col-xs-10 input-container">
                <div class="checkbox">
                    <label for="htmlEmail">
                        <input type="checkbox" id="htmlEmail" ng-model="$ctrl.template.htmlEmail" ng-change="$ctrl.htmlEmailToggle()">
                        HTML email
                    </label>
                </div>

            </div>
        </div>
        <div class="form-group single-button">
            <div class="col-xs-2 btn-preview-message">
                <button type="button" class="btn btn-flat btn-default col-xs-12" ng-click="$ctrl.toggleMessagePreview()">{{$ctrl.showPreview ? 'Edit' : 'Preview'}}</br>Message</button>
            </div>
            <div class="col-xs-7 input-container">
                <uib-tabset active="$ctrl.activeTab" class="nav-tabs-custom">
                    <uib-tab index="0" heading="HTML" disable="!$ctrl.template.htmlEmail">
                        <div ui-ace ng-model="$ctrl.template.emailSettings.html" ng-show="!$ctrl.showPreview"></div>
                        <iframe class="message-preview-container" srcdoc="{{$ctrl.getTrustedHtml()}}" ng-show="$ctrl.showPreview" frameborder="0"></iframe>
                    </uib-tab>
                    <uib-tab index="1" heading="Text">
                        <textarea class="form-control" rows="9" ng-model="$ctrl.template.emailSettings.text" ng-show="!$ctrl.showPreview"></textarea>
                        <div class="message-preview-container" ng-show="$ctrl.showPreview">
                            {{$ctrl.getPreview($ctrl.template.emailSettings.text)}}
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="col-xs-3 buttons-container buttons-container-vertical">
                <electron-dialog-button class="col-xs-12" button-label="'Save Template'" dialog-title="'Please select where to save the message template'" on-path-selected="$ctrl.saveTemplate($event)" save-dialog="true" default-path="$ctrl.getMessageDefaultPath()"></electron-dialog-button>
                <electron-dialog-button class="col-xs-12" button-label="'Load Template'" dialog-title="'Please select the message template to load'" dialog-type="'file'" on-path-selected="$ctrl.templateSelected($event)" default-path="$ctrl.getMessageDefaultPath()"></electron-dialog-button>
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <label class="col-xs-2 control-label"></label>
            <div class="col-xs-7 input-container">
                <button type="button" class="btn btn-flat btn-default col-xs-12" ng-click="$ctrl.showLargerMessageModal()"><i class="fa fa-search-plus"></i> Larger Message</button>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-flat btn-info" ng-disabled="!$ctrl.showPendingChanges">Save</button>
                <button type="button" class="btn btn-flat btn-default" ng-click="$ctrl.onCancel()" ng-disabled="!$ctrl.showPendingChanges">Cancel</button>
            </div>
        </div>
    </form>
</div>
