<div class="tab-pane active">
    <form class="form-horizontal" ng-submit="$ctrl.onSubmit()">
        <div class="form-group single-button">
            <label for="to" class="col-xs-2 control-label">To</label>
            <div class="col-xs-7 input-container">
                <input type="text" class="form-control" id="to" placeholder="" ng-model="$ctrl.formData.to">
            </div>
            <div class="col-xs-3 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <label for="cc" class="col-xs-2 control-label">CC</label>
            <div class="col-xs-7 input-container">
                <input type="text" class="form-control" id="cc" placeholder="" ng-model="$ctrl.formData.cc">
            </div>
            <div class="col-xs-3 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <label for="bcc" class="col-xs-2 control-label">BCC</label>
            <div class="col-xs-7 input-container">
                <input type="text" class="form-control" id="bcc" placeholder="" ng-model="$ctrl.formData.bcc">
            </div>
            <div class="col-xs-3 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <label for="subject" class="col-xs-2 control-label">Subject</label>
            <div class="col-xs-7 input-container">
                <input type="text" class="form-control" id="subject" placeholder="" ng-model="$ctrl.formData.subject">
            </div>
            <div class="col-xs-3 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <div class="col-xs-2"></div>
            <div class="col-xs-10 input-container">
                <div class="checkbox">
                    <label for="isHtmlEnabled">
                        <input type="checkbox" id="isHtmlEnabled" ng-model="$ctrl.formData.isHtmlEnabled">
                        HTML email
                    </label>
                </div>

            </div>
        </div>
        <div class="form-group single-button">
            <div class="col-xs-2 btn-preview-message">
                <button type="button" class="btn btn-flat btn-default col-xs-12" ng-click="$ctrl.showPreview = !$ctrl.showPreview" ng-show="!$ctrl.showPreview">Preview</br>Message</button>
                <button type="button" class="btn btn-flat btn-default col-xs-12" ng-click="$ctrl.showPreview = !$ctrl.showPreview" ng-show="$ctrl.showPreview">Edit</br>Message</button>
            </div>
            <div class="col-xs-7 input-container">
                <uib-tabset active="active" class="nav-tabs-custom">
                    <uib-tab index="0" heading="HTML" disable="!$ctrl.formData.isHtmlEnabled">
                        <div ui-ace ng-model="$ctrl.formData.html"></div>
                    </uib-tab>
                    <uib-tab index="1" heading="Text">
                        <textarea class="form-control" rows="9" ng-model="$ctrl.formData.text"></textarea>
                    </uib-tab>
                </uib-tabset>
            </div>
            <div class="col-xs-3 buttons-container buttons-container-vertical">
                <button type="button" class="btn btn-flat btn-default col-xs-12"><i class="fa fa-save"></i> Save Template</button>
                <electron-dialog-button class="col-xs-12" button-label="'Load Template'" dialog-title="'Please select the message template to load'" dialog-type="'file'" on-path-selected="$ctrl.templateSelected($event)"></electron-dialog-button>
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <label class="col-xs-2 control-label"></label>
            <div class="col-xs-7 input-container">
                <button type="button" class="btn btn-flat btn-default col-xs-12" ng-click="$ctrl.showLargerMessageModal()"><i class="fa fa-search-plus"></i> Larger Message</button>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-flat btn-info">Save</button>
                <button type="button" class="btn btn-flat btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>