.form-horizontal .form-group.single-button {
    .input-container {
        width: 450px;
    }

    .buttons-container {
        width: 140px;
    }
}

.ace_editor {
    height: 200px;
    border: 1px solid #ccc
}