<?xml version="1.0" encoding="utf-8"?>
<theproton>
	<settings>

		<!-- template name -->
		<template>My Default Config Template</template>

		<!-- file name  -->
		<filename>{{built-in1}}.txt</filename>

		<!-- where to place the output files -->
		<outputfolder>output/{{custom1}}</outputfolder>

		<!-- quarantine files which fail to be delivered (true|false) -->
		<quarantinefiles>true</quarantinefiles>
		<!-- where to place the quarantined files -->
		<quarantinefolder>quarantine/{{built-in2}}</quarantinefolder>

		<!-- send the files by Email and/or FTP (true|false) -->
		<sendfiles>false</sendfiles>

		<!-- delete the output files after processing(true|false) -->
		<deletefiles>false</deletefiles>

		<!-- send rich formatted HTML e-mails (true|false) -->
		<htmlemail>false</htmlemail>

		<!-- email server settings -->
		<emailserver>
			<host>Email Server Host</host>
			<!-- email server port. 25 is the default SMTP port -->
			<port>25</port>
			<userid>From Email User ID</userid>
			<userpassword>From Email Password</userpassword>
			<usessl>false</usessl>
			<usetls>false</usetls>
			<debug>false</debug>
			<fromaddress>from@emailaddress.com</fromaddress>
			<name>From Name</name>
		</emailserver>

		<!-- email message settings -->
		<emailsettings>
			<to>{{custom2}}</to>
			<cc></cc>
			<bcc></bcc>
			<subject></subject>
			<text></text>
			<html></html>
		</emailsettings>

		<!-- upload settings -->
		<uploadsettings>
			<ftpcommand />
			<sftpcommand />
		</uploadsettings>

		<!-- attachments. List with the attachments. Variables can be used (e.g. 
			{{built-in3}}) in order to dynamically provide attachment paths during 
			distribution. order="0", order="1" etc. should be properly configured -->
		<attachments>
			<items>
				<attachment path="{{built-in3}}" order="0"></attachment>
			</items>
			<archive>
				<archiveattachments>false</archiveattachments>
				<archivefilename>reports-{{built-in1}}.zip</archivefilename>
			</archive>
		</attachments>

		<!-- fail the job if any report distribution fails (advanced) -->
		<failjobifanydistributionfails>true</failjobifanydistributionfails>

	</settings>
</theproton>