<div class="tab-pane active">
    <form class="form-horizontal" ng-submit="$ctrl.onSubmit()">
        <div class="form-group">
            <label for="command" class="col-xs-2 control-label">Command</label>
            <div class="col-xs-8 input-container">
                <input type="text" class="form-control" id="command" placeholder="" ng-model="$ctrl.template.uploadSettings.ftpCommand">
            </div>
            <div class="col-xs-2 buttons-container">
                <variables-button class="col-xs-12" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
            <div class="col-xs-12">
                <p class="help-block"><em>Synopsis [options][URL...]</em></p>
            </div>
        </div>
        <div class="form-group text-right">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-flat btn-info" ng-disabled="!$ctrl.showPendingChanges">Save</button>
                <button type="button" class="btn btn-flat btn-default" ng-click="$ctrl.onCancel()" ng-disabled="!$ctrl.showPendingChanges">Cancel</button>
            </div>
        </div>
    </form>
</div>
