<div class="col-xs-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li ng-class="{ 'active': $ctrl.$state.is('main.processing.doAction') && !$ctrl.showLicenseTab}"><a href="#tab-do-action" aria-expanded="true" ng-click="$ctrl.showLicenseTab = false">Do Action</a></li>
            <li ng-class="{ 'active': $ctrl.$state.is('main.processing.doAction.loggingTracing') && !$ctrl.showLicenseTab}"><a href="#" ui-sref="main.processing.doAction.loggingTracing" aria-expanded="false" ng-click="$ctrl.showLicenseTab = false">Logging, Tracing...</a></li>
            <li ng-class="{ 'active': $ctrl.showLicenseTab }"><a href="#tab-license" aria-expanded="false" ng-click="$ctrl.showLicenseTab = true">License</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab-do-action" ng-show="$ctrl.$state.is('main.processing.doAction') && !$ctrl.showLicenseTab">
                <form class="form-horizontal" name="generalForm" ng-submit="$ctrl.onSubmit()">
                    <div class="form-group">
                        <label for="filePath" class="col-xs-2 control-label">File Path</label>
                        <div class="col-xs-8 input-container">
                            <input type="text" class="form-control" id="filePath" placeholder="" ng-model="$ctrl.formData.filePath">
                        </div>
                        <div class="col-xs-2 buttons-container">
                            <electron-dialog-button class="col-xs-12" dialog-type="'file'" on-path-selected="$ctrl.filePathSelected($event)"></electron-dialog-button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-8">
                            <button type="button" class="btn btn-flat btn-default" ng-click="$ctrl.showConfirmModal()"><i class="fa fa-check"></i> Do</button>
                            <button type="button" class="btn btn-flat btn-default"><i class="fa fa-binoculars"></i> View Output</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" role="tabpanel" ng-show="!$ctrl.showLicenseTab" ng-class="{ show: !$ctrl.showLicenseTab }">
                <div class="row">
                    <ui-view></ui-view>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-license" ng-class="{ show: $ctrl.showLicenseTab }">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Est id sit ad laborum et ea irure nisi veniam occaecat anim irure exercitation. Consequat reprehenderit qui anim veniam proident pariatur in non qui velit culpa cupidatat irure. Quis voluptate occaecat consectetur enim laboris enim
                            id et eu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
