<div class="col-xs-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#" aria-expanded="true">Do Action</a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="main.loggingTracing" aria-expanded="false">Logging, Tracing...</a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="main.about" aria-expanded="false">License</a></li>
        </ul>
        <div class="tab-content">
            <form class="form-horizontal" name="generalForm" ng-submit="$ctrl.onSubmit()">
                <div class="form-group">
                    <label for="filePath" class="col-xs-2 control-label">File Path</label>
                    <div class="col-xs-8 input-container">
                        <input type="text" class="form-control" id="filePath" placeholder="" ng-model="$ctrl.formData.filePath">
                    </div>
                    <div class="col-xs-2 buttons-container">
                        <electron-dialog-button class="col-xs-12" dialog-type="'file'" on-path-selected="$ctrl.filePathSelected($event)"></electron-dialog-button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-8">
                        <button type="button" class="btn btn-flat btn-default" ng-click="$ctrl.showConfirmModal()"><i class="fa fa-check"></i> Do</button>
                        <button type="button" class="btn btn-flat btn-default"><i class="fa fa-binoculars"></i> View Output</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>