<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="treeview" ui-sref-active="active" ng-show="$ctrl.activeSection === 'Process'">
                <a href="#" ui-sref="main.processing.doAction"><i class="fa fa-dashboard"></i> <span>Processing</span>
                    <span class="pull-right-container">
                    </span>
                </a>
                <ul class="treeview-menu always-active">
                    <li ui-sref-active="active"><a href="#" ui-sref="main.processing.doAction"><i class="fa fa-arrow-right"></i> Do Action</a></li>
                    <li ui-sref-active="active"><a href="#" ui-sref="main.processing.quality"><i class="fa fa-check"></i> Quality</a></li>
                </ul>
            </li>
            <li class="configuration-dropdown text-center" ng-show="$ctrl.activeSection === 'Configure'">
                <div class="btn-group" uib-dropdown dropdown-append-to-body>
                    <button id="single-button" type="button" class="btn  btn-sm btn-default" uib-dropdown-toggle>
                        {{ $ctrl.currentTemplate.name }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a ng-repeat="template in $ctrl.templates" ng-click="$ctrl.onTemplateClick(template)">{{template.name}}</a></li>
                    </ul>
                </div>
            </li>
            <li class="treeview" ui-sref-active="active" ng-show="$ctrl.activeSection === 'Configure'">
                <a href="#" ui-sref="main.configuration.general"><i class="fa fa-cog"></i> <span>Configuration</span>
                    <span class="pull-right-container">
                    </span>
                </a>
                <ul class="treeview-menu always-active">
                    <li ui-sref-active="active"><a href="#" ui-sref="main.configuration.general"><i class="fa fa-list-ul"></i> General</a></li>
                    <li class="treeview" ui-sref-active="active">
                        <a href="#" ui-sref="main.configuration.email.settings"><i class="fa fa-envelope"></i> <span>Email</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                        <ul class="treeview-menu always-active">
                            <!--<li ui-sref-active="active"><a href="#" ui-sref="main.configuration.email.settings"><i class="fa fa-gear"></i> Connection Settings</a></li>-->
                            <!--<li ui-sref-active="active"><a href="#" ui-sref="main.configuration.email.message"><i class="fa fa-envelope-o"></i> Email Message</a></li>-->
                            <!--<li ui-sref-active="active"><a href="#" ui-sref="main.configuration.email.attachments"><i class="fa fa-paperclip"></i> Attachments</a></li>-->
                            <li ui-sref-active="active"><a href="#" ui-sref="main.configuration.email.cloud"><i class="fa fa-cloud"></i> Cloud Email Providers</a></li>
                        </ul>
                    </li>
                    <li class="treeview" ui-sref-active="active">
                        <a href="#" ui-sref="main.configuration.upload.ftp"><i class="fa fa-cloud-upload"></i> <span>Upload</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                        <ul class="treeview-menu always-active">
                            <li ui-sref-active="active"><a href="#" ui-sref="main.configuration.upload.ftp"><i class="fa fa-upload"></i> FTP</a></li>
                            <li ui-sref-active="active"><a href="#" ui-sref="main.configuration.upload.sftp"><i class="fa fa-key"></i> SFTP/SCP</a></li>
                        </ul>
                    </li>
                    <li ui-sref-active="active"><a href="#" ui-sref="main.configuration.advanced"><i class="fa fa-window-restore"></i> Advanced</a></li>
                </ul>
            </li>
            <li ui-sref-active="active"><a href="#" ui-sref="main.configurationTemplates" ng-show="$ctrl.activeSection === 'Configuration Templates'"><i class="fa fa-cogs"></i> <span>Configuration Templates</span></a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="main.loggingTracing"><i class="fa fa-search"></i> <span>Logging, Tracing...</span></a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="main.help"><i class="fa fa-question"></i> <span>Help</span></a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="main.about"><i class="fa fa-info"></i> <span>About</span></a></li>
            <li><a href="#" ng-click="$ctrl.quit()"><i class="fa fa-sign-out"></i> <span>Quit</span></a></li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>