@icon-font-path: '/assets/fonts/bootstrap/';
@fa-font-path: '/assets/fonts/font-awesome/';

@import '~bootstrap/less/bootstrap.less';
@import '~font-awesome/less/font-awesome.less';

@import '~admin-lte/dist/css/AdminLTE.css';
@import '~admin-lte/dist/css/skins/_all-skins.css';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.form-group {
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
}

.form-horizontal .control-label {
  text-align: left;
}

.form-horizontal .control-label-icon {
  text-align: center;
  font-size: 18px;
  margin-top: 2px;
}

/* inject:less */
@import 'configuration/configuration-advanced/configuration-advanced';
@import 'configuration/configuration-email/configuration-email-attachments/attachment-modal/attachment-modal';
@import 'configuration/configuration-email/configuration-email-attachments/configuration-email-attachments';
@import 'configuration/configuration-email/configuration-email-cloud/configuration-email-cloud';
@import 'configuration/configuration-email/configuration-email-message/configuration-email-message';
@import 'configuration/configuration-email/configuration-email-settings/configuration-email-settings';
@import 'configuration/configuration-email/configuration-email';
@import 'configuration/configuration-general/configuration-general';
@import 'configuration/configuration';
@import 'home/home';
@import 'main/main';
@import '../components/breadcrumb/breadcrumb';
@import '../components/control-sidebar/control-sidebar';
@import '../components/electron-dialog-button/electron-dialog-button';
@import '../components/footer/footer';
@import '../components/main-sidebar/main-sidebar';
@import '../components/modal/modal';
/* endinject */
