<!-- Main Header -->
<header class="main-header">

    <div class="logo">
        <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <button id="single-button" type="button" class="btn btn-default select-section-btn" uib-dropdown-toggle ng-hide="$ctrl.isNavCollapsed">
                {{ $ctrl.activeSection }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu select-section-options" uib-dropdown-menu role="menu">
                <li><a href="#" ui-sref="main.processing" ng-click="$ctrl.changeActiveSection('Process')">Process</a></li>
                <li><a href="#" ui-sref="main.configuration" ng-click="$ctrl.changeActiveSection('Configure')">Configure</a></li>
                <li><a href="#" ui-sref="main.configurationTemplates" ng-click="$ctrl.changeActiveSection('Configuration Templates')">Configuration Templates</a></li>
            </ul>
        </div>
    </div>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Left Menu -->
        <div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="mailto:support@theprotonapp.com">support@theprotonapp.com</a>
                </li>
            </ul>
        </div>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html" class="navbar-brand">
                        <span><i class="fa fa-files-o"></i> TheProtonApp</span>
                    </a>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
