<div class="modal-header">
    <h3 class="modal-title" id="modal-title"><i class="fa fa-paperclip"></i> Attachments</h3>
</div>
<form class="form-horizontal" ng-submit="$ctrl.ok()">
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label for="path" class="col-xs-1">Path</label>
            <div class="col-xs-7">
                <input type="text" class="form-control" id="path" placeholder="" ng-model="$ctrl.resolve.path">
            </div>
            <div class="col-xs-4 buttons-container">
                <div class="row">
                    <electron-dialog-button class="col-xs-6" dialog-type="'file'" on-path-selected="$ctrl.selectFile($event)"></electron-dialog-button>
                    <button class="btn btn-flat btn-default col-xs-6" type="button" ng-click=""><i class="fa fa-code"></i> Variables</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-primary" type="submit">OK</button>
        <button class="btn btn-flat btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>