<section class="content-header col-xs-12">
    <breadcrumb $state="$ctrl.$state"></breadcrumb>
</section>
<div class="col-xs-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Advanced Settings</h3>
        </div>
        <form class="form-horizontal" name="advancedForm" ng-submit="$ctrl.onSubmit()">
            <div class="box-body">
                <div class="form-group">
                    <div class="col-xs-12">If any distribution fails...</div>
                    <div class="col-xs-12">
                        <label class="radio-inline">
                            <input type="radio" name="distFail" id="distFail1" value="fail_job" ng-model="$ctrl.formData.distFail"> Fail
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="distFail" id="distFail2" value="continue_job" ng-model="$ctrl.formData.distFail"> Continue
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-footer text-right">
                <button type="button" class="btn btn-flat btn-default">Cancel</button>
                <button type="submit" class="btn btn-flat btn-info">Save</button>
            </div>
        </form>
    </div>
</div>