<div class="modal-header">
    <h3 class="modal-title" id="modal-title"><i class="fa fa-search-plus"></i> Edit Large Email Message</h3>
</div>
<form class="form-horizontal" ng-submit="$ctrl.ok()">
    <div class="modal-body" id="modal-body">
        <div class="form-group single-button">
            <div class="col-xs-3">
                <div class="checkbox">
                    <label for="htmlEmail">
                        <input type="checkbox" id="htmlEmail" ng-model="$ctrl.template.htmlEmail" ng-change="$ctrl.htmlEmailToggle()">
                        HTML email
                    </label>
                </div>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-flat btn-default col-xs-12" ng-click="$ctrl.showPreview = !$ctrl.showPreview" ng-show="!$ctrl.showPreview">Preview</br>Message</button>
                <button type="button" class="btn btn-flat btn-default col-xs-12" ng-click="$ctrl.showPreview = !$ctrl.showPreview" ng-show="$ctrl.showPreview">Edit</br>Message</button>
            </div>
            <div class="col-xs-6">
                <variables-button class="col-xs-5 pull-right" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
            </div>
        </div>
        <div class="form-group single-button">
            <div class="col-xs-12 input-container">
                <uib-tabset active="$ctrl.activeTab" class="nav-tabs-custom">
                    <uib-tab index="0" heading="HTML" disable="!$ctrl.template.htmlEmail">
                        <div ui-ace ng-model="$ctrl.template.emailSettings.html"></div>
                    </uib-tab>
                    <uib-tab index="1" heading="Text">
                        <textarea class="form-control" rows="12" ng-model="$ctrl.template.emailSettings.text"></textarea>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-flat btn-primary" type="submit">OK</button>
        <button class="btn btn-flat btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</form>