<div class="col-xs-12">
    <div ng-class="{ 'box box-primary': $ctrl.$state.is('main.loggingTracing'), 'tab-pane': $ctrl.$state.is('main.processing.*.loggingTracing') }">
        <div class="box-header with-border" ng-show="$ctrl.$state.is('main.loggingTracing')">
            <h3 class="box-title">Logging, Tracing...</h3>
        </div>
        <div ng-class="{ 'box-body': $ctrl.$state.is('main.loggingTracing')}">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-bordered table-hover col-xs-10">
                        <tbody>
                            <tr>
                                <th>Document Name</th>
                                <th>Job Type</th>
                                <th>Status</th>
                                <th>Submitted</th>
                                <th>Time Elapsed</th>
                            </tr>
                            <tr ng-repeat="job in $ctrl.currentJobs">
                                <td>{{job.documentName}}</td>
                                <td>{{job.type}}</td>
                                <td>{{job.status}}</td>
                                <td>{{job.submitted}}</td>
                                <td>{{job.elapsed}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="logging-tail-panel col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body row">
                            <h5 class="text-info col-xs-12">Info Log Tail</h5>
                            <div class="tail-body" scroll-glue>
                                <div class="text-info col-xs-12" ng-repeat="log in $ctrl.logs.info | limitTo: $ctrl.logTailSize * (-1) track by $index">{{log}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logging-tail-panel col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body row">
                            <h5 class="text-warning col-xs-12">Warning Log Tail</h5>
                            <div class="tail-body half" scroll-glue>
                                <div class="text-warning col-xs-12" ng-repeat="log in $ctrl.logs.warnings | limitTo: $ctrl.logTailSize * (-1) track by $index">{{log}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logging-tail-panel col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-body row">
                            <h5 class="text-danger col-xs-12">Error Log Tail</h5>
                            <div class="tail-body half" scroll-glue>
                                <div class="text-danger col-xs-12" ng-repeat="log in $ctrl.logs.errors | limitTo: $ctrl.logTailSize * (-1) track by $index">{{log}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <button type="button" class="btn btn-sm btn-flat btn-default" ng-click="$ctrl.clearInfoLogs()"><i class="fa fa-eraser"></i> Clear INFO Log</button>
                <button type="button" class="btn btn-sm btn-flat btn-default" ng-click="$ctrl.clearErrorLogs()"><i class="fa fa-eraser"></i> Clear ERROR Log</button>
                <button type="button" class="btn btn-sm btn-flat btn-default" ng-click="$ctrl.clearWarningLogs()"><i class="fa fa-eraser"></i> Clear WARN Log</button>
                <button type="button" class="btn btn-sm btn-flat btn-default" ng-click="$ctrl.clearAllLogs()"><i class="fa fa-eraser"></i> Clear ALL Logs</button>
                <button type="button" class="btn btn-sm btn-flat btn-default" ng-click="$ctrl.clearQuarantineFiles()"><i class="fa fa-eraser"></i> Clear Quarantine Files</button>
            </div>
        </div>
    </div>
</div>
