<div class="col-xs-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" aria-expanded="true" data-toggle="tab">General</a></li>
            <li><a href="#tab-license" aria-expanded="false" data-toggle="tab">License</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab-general">
                <form class="form-horizontal" name="generalForm" ng-submit="$ctrl.onSubmit()">
                    <div class="form-group">
                        <label for="fileName" class="col-xs-3 control-label">File Name</label>
                        <div class="col-xs-5 input-container">
                            <input type="text" class="form-control" id="fileName" placeholder="File Name" ng-model="$ctrl.template.fileName">
                        </div>
                        <div class="col-xs-4 buttons-container">
                            <variables-button class="col-xs-6" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="outputFolder" class="col-xs-3 control-label">Output Folder</label>
                        <div class="col-xs-5 input-container">
                            <input type="text" class="form-control" id="outputFolder" placeholder="Output Folder" ng-model="$ctrl.template.outputFolder">
                        </div>
                        <div class="col-xs-4 buttons-container">
                            <electron-dialog-button class="col-xs-6" dialog-type="'folder'" on-path-selected="$ctrl.outputSelected($event)"></electron-dialog-button>
                            <variables-button class="col-xs-6" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quarantineFolder" class="col-xs-3 control-label">Quarantine Folder </br> <span class="text-italic"><em><small>(should be a local folder)</small></em></span></label>
                        <div class="col-xs-5 input-container">
                            <input type="text" class="form-control" id="quarantineFolder" placeholder="Quarantine Folder" ng-model="$ctrl.template.quarantineFolder">
                        </div>
                        <div class="col-xs-4 buttons-container">
                            <electron-dialog-button class="col-xs-6" dialog-type="'folder'" on-path-selected="$ctrl.quarantineSelected($event)"></electron-dialog-button>
                            <variables-button class="col-xs-6" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label-icon" for="sendDocuments"><i class="fa fa-share-square-o"></i></label>
                        <div class="col-xs-5 input-container">
                            <div class="checkbox">
                                <label for="sendDocuments">
                                    <input type="checkbox" id="sendDocuments" ng-model="$ctrl.template.sendDocuments">
                                    Send documents
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label-icon" for="deleteDocuments"><i class="fa fa-trash"></i></label>
                        <div class="col-xs-5 input-container">
                            <div class="checkbox">
                                <label for="deleteDocuments">
                                    <input type="checkbox" id="deleteDocuments" ng-model="$ctrl.template.deleteDocuments">
                                    Delete documents
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label-icon" for="quarantineDocuments"><i class="fa fa-bug"></i></label>
                        <div class="col-xs-5 input-container">
                            <div class="checkbox">
                                <label for="quarantineDocuments">
                                    <input type="checkbox" id="quarantineDocuments" ng-model="$ctrl.template.quarantineDocuments">
                                    Quarantine Documents
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="quarantineFolder" class="col-xs-3 control-label"><span class="text-italic"><em><small>Invalid Chars in Filenanes(*)</small></em></span></label>
                        <div class="col-xs-5 input-container control-label">\/:*&lt;&gt;|</div>
                    </div>
                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-flat btn-info">Save</button>
                            <button type="button" class="btn btn-flat btn-default" ng-click="$ctrl.onCancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" role="tabpanel" id="tab-license">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Est id sit ad laborum et ea irure nisi veniam occaecat anim irure exercitation. Consequat reprehenderit qui anim veniam proident pariatur in non qui velit culpa cupidatat irure. Quis voluptate occaecat consectetur enim laboris enim
                            id et eu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
