<div class="col-xs-12">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#" aria-expanded="true">General</a></li>
            <li ui-sref-active="active"><a href="#" ui-sref="main.about" aria-expanded="false">License</a></li>
        </ul>
        <div class="tab-content">
            <form class="form-horizontal" name="generalForm" ng-submit="$ctrl.onSubmit()">
                <div class="form-group">
                    <label for="fileName" class="col-xs-3 control-label">File Name</label>
                    <div class="col-xs-5 input-container">
                        <input type="text" class="form-control" id="fileName" placeholder="File Name" ng-model="$ctrl.formData.fileName">
                    </div>
                    <div class="col-xs-4 buttons-container">
                        <variables-button class="col-xs-6" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="outputFolder" class="col-xs-3 control-label">Output Folder</label>
                    <div class="col-xs-5 input-container">
                        <input type="text" class="form-control" id="outputFolder" placeholder="Output Folder" ng-model="$ctrl.formData.outputFolder">
                    </div>
                    <div class="col-xs-4 buttons-container">
                        <electron-dialog-button class="col-xs-6" dialog-type="'folder'" on-path-selected="$ctrl.outputSelected($event)"></electron-dialog-button>
                        <variables-button class="col-xs-6" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quarantineFolder" class="col-xs-3 control-label">Quarantine Folder </br> <span class="text-italic"><em><small>(should be a local folder)</small></em></span></label>
                    <div class="col-xs-5 input-container">
                        <input type="text" class="form-control" id="quarantineFolder" placeholder="Quarantine Folder" ng-model="$ctrl.formData.quarantineFolder">
                    </div>
                    <div class="col-xs-4 buttons-container">
                        <electron-dialog-button class="col-xs-6" dialog-type="'folder'" on-path-selected="$ctrl.quarantineSelected($event)"></electron-dialog-button>
                        <variables-button class="col-xs-6" on-variable-selected="$ctrl.variableSelected($event)"></variables-button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label-icon" for="sendDocuments"><i class="fa fa-share-square-o"></i></label>
                    <div class="col-xs-5 input-container">
                        <div class="checkbox">
                            <label for="sendDocuments">
                                <input type="checkbox" id="sendDocuments" ng-model="$ctrl.formData.sendDocuments">
                                Send documents
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label-icon" for="deleteDocuments"><i class="fa fa-trash"></i></label>
                    <div class="col-xs-5 input-container">
                        <div class="checkbox">
                            <label for="deleteDocuments">
                                <input type="checkbox" id="deleteDocuments" ng-model="$ctrl.formData.deleteDocuments">
                                Delete documents
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label-icon" for="quarantineDocuments"><i class="fa fa-bug"></i></label>
                    <div class="col-xs-5 input-container">
                        <div class="checkbox">
                            <label for="quarantineDocuments">
                                <input type="checkbox" id="quarantineDocuments" ng-model="$ctrl.formData.quarantineDocuments">
                                Quarantine Documents
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quarantineFolder" class="col-xs-3 control-label"><span class="text-italic"><em><small>Invalid Chars in Filenanes(*)</small></em></span></label>
                    <div class="col-xs-5 input-container control-label">\/:*&lt;&gt;|</div>
                </div>
                <div class="form-group text-right">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-flat btn-info">Save</button>
                        <button type="button" class="btn btn-flat btn-default">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>