.form-horizontal .form-group {

    > label {
        padding-right: 0;
    }
    .input-container {
        padding-right: 0;
        width: 320px;
    }

    .buttons-container {
        padding-left: 4px;
        width: 210px;
    }
}